[submodule "python_tracklist_processor"]
	path = python_tracklist_processor
	url = git@github.com:VasiliiGeneralov/python_tracklist_processor.git
[submodule "audacity"]
	path = audacity
	url = git@github.com:audacity/audacity.git
